@import "tailwindcss";

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/my-font/SuisseIntl-SemiBold-WebXL.woff2') format('woff2'), 
       url('/fonts/my-font/SuisseIntl-SemiBold-WebXL.woff') format('woff');

  font-weight: medium;
  font-style: medium;
  font-display: swap;
}

@font-face {
  font-family: 'MyFont2';
  src: url('/fonts/my-font/PPEditorialNew-Regular.woff2') format('woff2'), 
       url('/fonts/my-font/PPEditorialNew-Regular.woff') format('woff');

  font-weight: medium;
  font-style: medium;
  font-display: swap;
}

* {
  cursor: none !important
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'MyFont', sans-serif;
}

.MyFont2 {
  font-family: 'MyFont2', sans-serif;
}

#page-content {
  opacity: 0; /* empieza invisible hasta que termine la animación */
  transition: opacity 0.5s ease-out;
}

#header-footer-wrapper {
  opacity: 0;
  transition: opacity 0.5s;
}



/* Text Animation */

.line {
  transform: translateY(100%);
  will-change: transform;
  display: inline-block;
}

.line-line2 {
  display: block;
  overflow: hidden;     
  line-height: 1.0;     
  padding-bottom: 0.10em;
}

.line-line2 > * {
  display: inline-block; /* asegura que las palabras no se solapen */
}

/* RevealImage animation 1 */

.reveal-img {
  will-change: transform;
}

.reveal-img img {
  backface-visibility: hidden;
  transform: translateZ(0);
}

/* Grid Reveal Animation */

.mask {
  will-change: clip-path, opacity, transform;
  backface-visibility: hidden;
  transform: translate3d(0,0,0);
}

/* Animated Cursor */

.trail-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.trail-img {
  position: absolute;
  width: 200px; 
  height: 200px;    /* <-- solo definimos el ancho */  /* <-- la altura se ajusta sola por el ratio */
  pointer-events: none;
}

.trail-img .mask-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: clip-path;
}

.trail-img .mask-layer .image-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;   /* <-- mantiene el aspecto real */
  background-repeat: no-repeat;
  background-position: center;
}




